# 1. Data Exploration and Preprocessing:

 Loading the Dataset and Basic Exploration

In [ ]:
import pandas as pd

df=pd.read_csv("/content/adult_with_headers.csv")
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

# Handling Missing Values

In [ ]:
# There aren't any missing values as confirmed in above step.

# Scaling Numerical Features:

Standard Scaling:

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# standard scaling
standard_scaler = StandardScaler()
scaled_df = df.copy()
scaled_df[df.select_dtypes(include=['int64','float64']).columns]=standard_scaler.fit_transform(df.select_dtypes(include=['int64', 'float64']))

In [ ]:
# MinMaxScaling
minmax_scaler = MinMaxScaler()
minmax_scaled_df =df.copy()
minmax_scaled_df[df.select_dtypes(include=['int64', 'float64']).columns] = minmax_scaler.fit_transform(df.select_dtypes(include=['int64', 'float64']))

Standard Scaling is preferred when features follow a normal distribution and are to be used in linear models.

Min-Max Scaling is preferred when the data does not follow a normal distribution and is to be used in algorithms that do not assume any distribution, such as neural networks.

# Encoding Techniques
One-Hot Encoding and Label Encoding

In [ ]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [ ]:
label_encoder = preprocessing.LabelEncoder()
df['workclass']= label_encoder.fit_transform(df['workclass'])
df['education']= label_encoder.fit_transform(df['education'])
df['marital_status']= label_encoder.fit_transform(df['marital_status'])
df['occupation']= label_encoder.fit_transform(df['occupation'])
df['relationship']= label_encoder.fit_transform(df['relationship'])
df['race']= label_encoder.fit_transform(df['race'])
df['sex']= label_encoder.fit_transform(df['sex'])
df['native_country']= label_encoder.fit_transform(df['native_country'])

In [ ]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,<=50K
32557,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,>50K
32558,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,<=50K
32559,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,<=50K
32560,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,>50K

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,<=50K

# One-Hot Encoding:
 Does not assume any order, works well with algorithms expecting categorical inputs.
 Can lead to high dimensionality if there are many categories.

# Label Encoding :
Simple and fast, keeps dimensionality low.
Assumes an ordinal relationship, which may not be appropriate for all categorical variables.

# **Feature Engineering**

In [ ]:
# Creating two new features to be added

df['age_binned'] = pd.cut(df['age'], bins=[0, 18, 35, 60, 100], labels=['Child', 'Young Adult', 'Adult', 'Senior'])

df['hours_per_week_category'] = pd.cut(df['hours_per_week'], bins=[0, 20, 40, 60, 100], labels=['Part-time', 'Full-time', 'Over-time', 'Extreme'])

print(df[['age_binned', 'hours_per_week_category']].head())

    age_binned hours_per_week_category
0        Adult               Full-time
1        Adult               Part-time
2        Adult               Full-time
3        Adult               Full-time
4  Young Adult               Full-time

In [ ]:
# Transforming Skewed Feature
import numpy as np

# Log transformation
df['capital_gain'] = np.log1p(df['capital_gain'])

In [ ]:
print(df['capital_gain'].describe())

count    32561.000000
mean         0.734621
std          2.454738
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         11.512925
Name: capital_gain, dtype: float64

# Feature Selection

Isolation forest for Outlier Detection

In [ ]:
from sklearn.ensemble import IsolationForest

iso_forest = IsolationForest(contamination=0.01, random_state=42)
outliers = iso_forest.fit_predict(df.select_dtypes(include=['int64', 'float64']))

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [ ]:
df_cleaned = df[outliers == 1]

print(f"Original shape: {df.shape}, Cleaned shape: {df_cleaned.shape}")

Original shape: (32561, 17), Cleaned shape: (32235, 17)

# Predictive Power Score (PPS) Analysis

In [ ]:
!pip install ppscore

Requirement already satisfied: ppscore in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [ ]:
import ppscore as pps


pps_matrix = pps.matrix(df_cleaned)
print(pps_matrix[(pps_matrix['x'] != pps_matrix['y'])].sort_values(by='ppscore', ascending=False))

                  x                        y   ppscore            case  \
15              age               age_binned  1.000000  classification
55        education            education_num  1.000000      regression
71    education_num                education  1.000000      regression
220  hours_per_week  hours_per_week_category  0.999616  classification
255      age_binned                      age  0.563543      regression
..              ...                      ...       ...             ...
121    relationship                   fnlwgt  0.000000      regression
122    relationship                education  0.000000      regression
123    relationship            education_num  0.000000      regression
125    relationship               occupation  0.000000      regression
145            race                      sex  0.000000      regression

     is_valid_score               metric  baseline_score   model_score  \
15             True          weighted F1        0.410000      1.000000
55             True  mean absolute error        1.856400      0.000000
71             True  mean absolute error        2.678800      0.000000
220            True          weighted F1        0.476302      0.999799
255            True  mean absolute error       11.013200      4.806792
..              ...                  ...             ...           ...
121            True  mean absolute error    78033.433800  78717.321663
122            True  mean absolute error        2.678800      2.844489
123            True  mean absolute error        1.856400      1.909234
125            True  mean absolute error        3.697600      3.700616
145            True  mean absolute error        0.335400      0.442116

                        model
15   DecisionTreeClassifier()
55    DecisionTreeRegressor()
71    DecisionTreeRegressor()
220  DecisionTreeClassifier()
255   DecisionTreeRegressor()
..                        ...
121   DecisionTreeRegressor()
122   DecisionTreeRegressor()
123   DecisionTreeRegressor()
125   DecisionTreeRegressor()
145   DecisionTreeRegressor()

[272 rows x 9 columns]

In [ ]:
# Compare with correlation matrix
corr_matrix = df_cleaned.corr()

print(corr_matrix)

                     age  workclass    fnlwgt  education  education_num  \
age             1.000000   0.011683 -0.077720  -0.006301       0.042507
workclass       0.011683   1.000000 -0.016177   0.019290       0.046085
fnlwgt         -0.077720  -0.016177  1.000000  -0.029563      -0.043289
education      -0.006301   0.019290 -0.029563   1.000000       0.353920
education_num   0.042507   0.046085 -0.043289   0.353920       1.000000
marital_status -0.279243  -0.063757  0.027654  -0.038838      -0.067234
occupation     -0.016719   0.244747  0.001932  -0.024383       0.106416
relationship   -0.268579  -0.088847  0.006446  -0.008894      -0.093916
race            0.032338   0.043199 -0.024514   0.011335       0.034155
sex             0.094931   0.092657  0.028226  -0.030791       0.009438
capital_gain    0.119755   0.030586 -0.006726   0.028219       0.131249
capital_loss    0.051448   0.012505 -0.010428   0.016862       0.078311
hours_per_week  0.079467   0.134748 -0.019888   0.054953       0.148624
native_country  0.010794  -0.015441 -0.052889   0.058111       0.051592

                marital_status  occupation  relationship      race       sex  \
age                  -0.279243   -0.016719     -0.268579  0.032338  0.094931
workclass            -0.063757    0.244747     -0.088847  0.043199  0.092657
fnlwgt                0.027654    0.001932      0.006446 -0.024514  0.028226
education            -0.038838   -0.024383     -0.008894  0.011335 -0.030791
education_num        -0.067234    0.106416     -0.093916  0.034155  0.009438
marital_status        1.000000   -0.008532      0.188051 -0.070349 -0.128700
occupation           -0.008532    1.000000     -0.075057  0.003739  0.078855
relationship          0.188051   -0.075057      1.000000 -0.114609 -0.582217
race                 -0.070349    0.003739     -0.114609  1.000000  0.088804
sex                  -0.128700    0.078855     -0.582217  0.088804  1.000000
capital_gain         -0.073572    0.023267     -0.090385  0.036543  0.075644
capital_loss         -0.037851    0.018582     -0.065239  0.030021  0.049916
hours_per_week       -0.190395    0.075902     -0.251992  0.041652  0.230390
native_country       -0.024881   -0.014095      0.007208  0.115364 -0.020000

                capital_gain  capital_loss  hours_per_week  native_country
age                 0.119755      0.051448        0.079467        0.010794
workclass           0.030586      0.012505        0.134748       -0.015441
fnlwgt             -0.006726     -0.010428       -0.019888       -0.052889
education           0.028219      0.016862        0.054953        0.058111
education_num       0.131249      0.078311        0.148624        0.051592
marital_status     -0.073572     -0.037851       -0.190395       -0.024881
occupation          0.023267      0.018582        0.075902       -0.014095
relationship       -0.090385     -0.065239       -0.251992        0.007208
race                0.036543      0.030021        0.041652        0.115364
sex                 0.075644      0.049916        0.230390       -0.020000
capital_gain        1.000000     -0.062428        0.090863        0.026346
capital_loss       -0.062428      1.000000        0.054318        0.027858
hours_per_week      0.090863      0.054318        1.000000       -0.006045
native_country      0.026346      0.027858       -0.006045        1.000000

<ipython-input-21-b9dc8e3b4861>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df_cleaned.corr()

* TOP FEATURES:

PPS shows capital-gain, capital-loss, education-num, hours-per-week, and age as the top features predicting income.

Correlation shows moderate linear relationships between features like capital-gain and capital-loss, hours-per-week and education-num, and age with several other features.

* INCOME PREDICTION:

PPS highlights the predictive power of capital-gain and capital-loss for predicting income, which may not show up as strongly in the correlation matrix due to non-linear relationships.

Correlation does not show income directly, as it's typically not included in feature-to-feature correlations, but it helps understand feature interactions.